In [1]:
from libs.connector.postgres_connector import PostgresToJsonConnector
from libs.handler.postgres_handler import PostgresHandler
from libs.handler.json_handler import JsonHandler
from libs.log_handler.log_handler import LogHandler

from libs.dataframes.to_types import to_list_of_dicts

import pandas as pd


log_handler = PostgresHandler(
    host = 'silobuster-dev-db-do-user-12298230-0.b.db.ondigitalocean.com',
    port = '25060',
    db = 'defaultdb',
    password = 'AVNS_2Lh_hY8r7RVKSfLwbJM',
    username = 'doadmin',
)

logger = LogHandler(db_handler=log_handler)

input_qry = '''
    SELECT
        id,
        name,
        latitude,
        longitude
    FROM location
    '''

#input_qry = "select t1.identifier, t2.address_1, t2.address_2, t2.city, t2.state_province, t2.postal_code, t3.latitude, t3.longitude, t4.id, t4.website from organization t4 left join location t3 on t4.id = t3.organization_id left join address t2 on t3.id = t2.location_id left join organization_identifier t1 on t1.organization_id = t4.id"

input_handler = PostgresHandler(
    host = 'silobuster-dev-db-do-user-12298230-0.b.db.ondigitalocean.com',
    port = '25060',
    db = 'defaultdb',
    password = 'AVNS_2Lh_hY8r7RVKSfLwbJM',
    username = 'doadmin',
    query = input_qry,
    schema = 'connect211_withinreach_hsds3',
    env_prefix = 'POSTGRES'
)

output_handler = JsonHandler()

print (input_handler)
print (output_handler)

Host: silobuster-dev-db-do-user-12298230-0.b.db.ondigitalocean.com
Port: 25060
Database: defaultdb
Username: doadmin
Schema: connect211_withinreach_hsds3
Connection Alive? Yes
<libs.handler.json_handler.JsonHandler object at 0x7fd17f609630>

In [2]:
conn = PostgresToJsonConnector(
    input_handler=input_handler,
    output_handler=output_handler,
    log_handler=logger,
)

In [3]:
conn.df

,id,name,latitude,longitude
0,8c50f5ac-5092-5185-86b0-48b65329cdf4,ADA Information and Technical Assistance (US D...,0.000000,0.000000
1,b6762cbb-84e0-5a0e-aa28-9968592e16f7,AT&T Access (Discounted Internet Service),0.000000,0.000000
2,f9f25630-dd36-5c8f-b2a2-4f5ae597a846,IRS Tax Hotline & Office Locator,0.000000,0.000000
3,f7745444-4bf1-55b1-b9cf-77e550552df2,Partnership for Prescription Assistance,0.000000,0.000000
4,cf47b9e6-18bf-51d9-95ca-1f5e7a0b619d,Spokane Regional Crisis Hotline,0.000000,0.000000
...,...,...,...,...
2348,9a26bc0c-96cf-5796-93cd-970c0b8b6e59,Inspire Development Centers,46.734143,-119.903713
2349,d35ce545-07ab-568e-910f-c8a258f7ee8f,Inspire Development Centers,46.466361,-120.375376
2350,00b942a3-a107-56cd-b8e6-8f6f3645afee,Inspire Development Centers,46.011957,-118.395842
2351,0ccf5874-9578-551c-bb90-7e468c73b06e,Inspire Development Centers,46.241459,-119.092209
2352,27e3f9da-f9d1-5a68-b3e8-c4a764605943,Inspire Development Centers,46.214617,-119.998214

In [4]:
#conn.df.fillna('', inplace=True)

In [5]:
#conn.df['key'] = conn.df.apply(lambda row: str(row['latitude']) + str(row['longitude']), axis = 1)

In [6]:
#conn.df

In [7]:
from libs.dedupe.algo.exact_lat_long import exact_lat_long

In [8]:
job_id = conn.transform(exact_lat_long)
print (job_id)

547cb528-4d59-4e66-a7ef-ab96a520e52e